body {
    font: 14px/1.25em "Helvetica Neue", Helvetica, sans-serif;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    background-color: #f4f4f4;
}

html {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

content {
    display: block;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 1em;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
}
