header {
    margin: 0em 0em 0em 0em;
    padding: 1em 1em 1em 1em;
    background-color: #303138;
    display: block;
}

header a img {
    vertical-align: top;
}

.pageTitle {
    color: #f4f4f4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 48px;
    font-weight: 300;
    margin: 0em;
}

.subtitleH1 {
    font-size: 1.125em;
    font-weight: 100;
    margin-top: 0.25em;
    margin-bottom: 0em;
    margin-left: 0.2em;
    color: #f4f4f4;
}