.reviewComments {
    padding-left: 7px;
    padding-right: 7px;
}

.reviewComments h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.3em;
    font-weight: 200;
}

.reviewComments h5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.0em;
    font-weight: 200;
    margin-left: 14px;
}

.reviewComments ul {
    margin-top: 7px;
}

.reviewComments li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-weight: 200;
    font-size: 1.15em;

    padding-top: 4px;
    padding-bottom: 4px;
}