footer {
    display: block;
    clear: both;
    padding-top: 1em;
}

.footerContent {
    background-color: #303138;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
    color: #f4f4f4;
}

.footerLeft {
    float: left;
}

.footerRight {
    float: right;
}