/******************************************************************************
 * Basic HTML styling
 *****************************************************************************/

body {
    font: 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    background-color: #f4f4f4;
}

html {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

content {
    display: block;
    margin: 1em 0em 1em 0em;
    padding: 1em 1em 1em 1em;
}

pre {
    display: inline;
    font-family: monospace;
    white-space: pre;
}

table {
    margin-bottom: 1em;
}

th {
    text-align: left;
    padding-right: 1em;
}

/* *** Headers *** */

h1 {
    color: #f4f4f4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 64px;
    font-weight: 300;
    margin: 0em;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 2em;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 0.1em;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 0.1em;
}

h3.withSubtitle {
    margin-bottom:0.2em;
}

h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 1.25em;
    font-weight: 200;
}

h2 + div {
    margin-left: 1em;
}

.subtitleH3 {
    font-size: 1.0em;
    font-weight: 200;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1.5em;
}


/* *** Links *** */

a {
    color: steelblue;
}

a:not(:hover) {
    text-decoration: none;
}


/******************************************************************************
 *  Top Header
 *****************************************************************************/

header {
    margin: 0em 0em 0em 0em;
    padding: 1em 1em 1em 1em;
    background-color: #303138;
    display: block;
}

.subtitleH1 {
    font-size: 1.25em;
    font-weight: 100;
    margin-top: 0.25em;
    margin-bottom: 0em;
    margin-left: 0.2em;
    color: #f4f4f4;
}

nav {
    display: block;
    background-color: #303138;
    padding-top: 1em;
}

nav .container-fluid {
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.active {
    background-color: #f4f4f4;
    color: #303138;
}

nav ul li {
    cursor: pointer;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #f4f4f4;
}

nav ul li:hover {
    background-color: #eef0f3;
    color: #303138;
}

/******************************************************************************
 * Top Header: Filter / data overview box
 *****************************************************************************/

.filterBox {
    float: right;
    margin-right: 0.5em;
}

.filterBox th {
    font-weight: 400;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    color: #f4f4f4;
}

.filterBox td {
    padding-left: 1em;
}

.filterBox img {
    padding-right: 0.25em;
    height: 1em;
}
.filterBox .glyphicon {
    padding-right: 0.25em;
}

.filterBoxValue {
    font-weight: 200;
    color: #f4f4f4;
}

.glyphicon.white {
    color: white;
}

/******************************************************************************
 * Profile: monthly commit table
 *****************************************************************************/

.monthlyCommitYearTitle {
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 20px;
}

.perMonthStats tr th {
    min-width: 75px;
}

/******************************************************************************
 * Graphs
 *****************************************************************************/

.commentChartBar {
    fill: steelblue;
}

.commentChartBar:hover {
    fill: brown;
}

.commentChartAxis {
    font: 10px sans-serif;
}

.commentChartAxis path,
.commentChartAxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.commentChartAxis path {
    display: none;
}

.reviewerApprovalChartAxis {
    font: 10px sans-serif;
}

.reviewerApprovalChartAxis path,
.reviewerApprovalChartAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/******************************************************************************
 * Graphs: proximity graph
 *****************************************************************************/

.proximityGraph {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f4f4f4;
    border-color: #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.proximityGraphNode {
    stroke: #fff;
    stroke-width: 1.5px;
}

.proximityGraphLink {
    stroke: #999;
    stroke-opacity: .6;
}