body {
    font: 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

html {
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
}

/******************************************************************************
 *  Header elements
 *****************************************************************************/

header {
    margin: 0em 0em 0em 0em;
    padding: 1em 1em 1em 1em;
    background-color: #f5f5f5;
    display: block;
}

.filterBox {
    float: right;
}

.subtitleH1 {
    font-size: 1.25em;
    font-weight: 200;
    margin-top: 0.25em;
    margin-bottom: 0em;
    margin-left: 0.25em;
}

nav {
    display: block;
    background-color: #f5f5f5;
    padding-top: 1em;
}

.navElementContainer {
}

.navElementContainer:hover {
    background-color: white;
}

.navElementContainer {
    display: inline;
    position: relative;
    bottom: 0.17em;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1.5em;
    z-index: 1000000;

    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.filterBox th {
    padding-left: 0.25em;
    padding-right: 0.25em;
    font-weight: 500;
}

.filterBox img {
    padding-right: 0.25em;
    height: 1em;
}
.filterBox .glyphicon {
    padding-right: 0.25em;
}

.filterBoxValue {
    font-weight: 200;
}

/******************************************************************************
 * Content
 *****************************************************************************/

content {
    display: block;
    margin: 1em 0em 1em 0em;
    padding: 1em 1em 1em 1em;
}

h1 {
    color: #555;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: 0em;
}

h2 {
    font-size: 2em;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 0.1em;
}

h3 {
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 20px;
    margin-left: 0.1em;
}

h3.withSubtitle {
    margin-bottom:0.2em;
}

h4 {
    font-size: 1.25em;
    font-weight: 200;
}

h2 + div {
    margin-left: 1em;
}

pre {
    display: inline;
    font-family: monospace;
    white-space: pre;
}

a {
    color: steelblue;
}

a:not(:hover) {
    text-decoration: none;
}

table {
    margin-bottom: 1em;
}

th {
    text-align: left;
    padding-right: 1em;
}

.subtitleH3 {
    font-size: 1.0em;
    font-weight: 200;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 1.5em;
}

.monthlyCommitYearTitle {
    font-size: 1.5em;
    font-weight: 300;
    padding-top: 20px;
}

.perMonthStats tr th {
    min-width: 75px;
}

.commentChartBar {
    fill: steelblue;
}

.commentChartBar:hover {
    fill: brown;
}

.commentChartAxis {
    font: 10px sans-serif;
}

.commentChartAxis path,
.commentChartAxis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.commentChartAxis path {
    display: none;
}

.reviewerApprovalChartAxis {
    font: 10px sans-serif;
}

.reviewerApprovalChartAxis path,
.reviewerApprovalChartAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/******************************************************************************
 * Proximity graph
 *****************************************************************************/

.proximityGraph {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    border-color: #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.proximityGraphNode {
    stroke: #fff;
    stroke-width: 1.5px;
}

.proximityGraphLink {
    stroke: #999;
    stroke-opacity: .6;
}